.card{
    background-color: $white;
    width: 20rem;
    overflow: hidden;
    margin: 2rem;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    border-radius: .5rem;
    &__image{
        height: 14rem;
        object-fit: cover;
        width: 100%;
    }

    &__content{
        padding:1rem $spacing $spacing $spacing;
        color: $dark-gray;
    }

    &__title{
        color: #000;
        font-weight: bold;
        font-size: 24px;
        margin: 0;
    }

    &--dark{
        background-color: $secondary;
        .card__title{
            color: $white;
        }
    }

    .btn{
        margin-top: .7rem;
        border-radius: $raduis - 2;
    }
}