$font-family: Arial, Helvetica, sans-serif;

$primary: rgb(130, 26, 214);
$secondary: rgb(28, 24, 31);
$fond: rgba(204, 204, 204, 0.534);
$white: #fff;
$dark-gray : #999;

$raduis: 5px;

$colors:(
    1:rgb(226, 211, 2),
    2:rgb(255, 115, 0),
    3:rgb(255, 0, 191),
    4:rgb(30, 146, 30),
    5:rgb(255, 0, 43),
    6:rgb(0, 162, 255),
    7:rgb(255, 57, 90)
);

$btn-w: 5.5rem;
$btn-h: 2rem;
$btn-m-w: 340px;
$btn-m-h: 40px;

$spacing: 2rem;